



.container1 {
	font-family: 'Amatic SC', cursive;
	font-size: 1.75em;
	color: lightgrey;
	background-color: black;
	position: fixed;
	width: 1500px;
	height: 200px;
	top: 15%;
	left: 10%;
	margin-top: -115px;
	margin-left: -250px; 
	padding-bottom: 20px;



}


body{

	background: url(http://s21.postimg.org/9o6b90cl3/desktop.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container2 {

	font-family: 'Amatic SC', cursive;
	font-size: 1.25em;
	color: lightgrey;
	background-color: rgba(000, 000, 000, 0.87);
	margin-left: -25px;
	padding-left: 100px;
	margin-right: -25px;
	padding-right: 125px;
	margin-top: -25px;


}

table{
	display: inline-block;
	background-color: rgba(000, 000, 000, 0.99);
	border: black;
	border: 0px;
}

